@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    /*background-color: hsla(11, 96%, 51%, 0.912);*/
}

body {
    font-family: 'Almarai', arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #444444;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color : #fbfbfb;
    text-decoration: none;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: 2px solid #fbfbfb;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #db2c2c;
    border-bottom: 2px solid #db2c2c;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    border-radius: 50%;
    size: 25%;
    border: 2px solid #fbfbfb;
}

nav a:hover {
    background-color: #fbfbfb;
    color: #db2c2c;
    font-weight: bold;
}

nav a.active{
    background-color: #fbfbfb;
    color: #db2c2c;
    font-weight: bold;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.home-image {
    width: 100%;
    border-radius: 30% 30% 4% 4% ;
    height: auto;
    grid-column: 2/5;
    margin-top: 150px;
    padding: 10px;
    border: 3px solid #db2c2c;
}

.msg-home {
    grid-column: 6/10;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    text-align: center;
    font-size: medium;
}


.msg-home h1 {
    color: #db2c2c;
}



footer {
    padding: 25px 50px;
    border-top: 2px solid #db2c2c;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}

/*Généalogie*/

.généalogie-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(4, 25%);
}

.g1 {
    width: 100%;
    border-radius: 30% 30% 4% 4% ;
    grid-column: 3/9;
    grid-row: 2/5;
    margin-top: 100px;
    padding: 20px;
    background-color: #69696950;
    border: 3px solid #db2c2c;
}

.msg-g {
    margin: 50px;
    font-size: medium;
    grid-column: 3/9;
    grid-row: 1/2;
    text-align: center;
}


.msg-g h3 {
    line-height: 99%;
}

.msg-g h1 {
    text-decoration: underline;
}


/*Témoignages*/

.t-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
}

.msg-t{
    grid-column: 3/9;
    margin-top: 50px;
    font-size: medium;
}

.msg-t h1{
    text-decoration: underline;
}

.msg-t p{
    line-height: 90%;
}
