@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    /*background-color: hsla(11, 96%, 51%, 0.912);*/
}

body {
    font-family: 'Almarai', arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    color: #444444;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    color : #fbfbfb;
    text-decoration: none;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: 2px solid #fbfbfb;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #db2c2c;
    border-bottom: 2px solid #db2c2c;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    font-weight: bold;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    border-radius: 50%;
    size: 25%;
    border: 2px solid #fbfbfb;
}

.logo:hover {
    box-shadow: 0 0 3em #fbfbfb;
}

nav a:hover {
    background-color: #fbfbfb;
    color: #db2c2c;
    font-weight: bold;
}

nav a.active{
    background-color: #fbfbfb;
    color: #db2c2c;
    font-weight: bold;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
}

.home-image {
    width: 100%;
    border-radius: 30% 30% 4% 4% ;
    height: auto;
    grid-column: 2/5;
    margin-top: 150px;
    padding: 10px;
    border: 3px solid #db2c2c;
}

.msg-home {
    grid-column: 6/10;
    margin-top: 150px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    text-align: center;
    font-size: medium;
}

.msg-home h1 {
    color: #db2c2c;
}

footer {
    padding: 25px 50px;
    border-top: 2px solid #db2c2c;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;

}

/*Simone*/

.logo-maman1, .logo-maman2, .logo-maman3 {
    border-radius: 50%;
    size: 25%;
    padding: 5px;
    margin: 100px;
    border: 2px solid #db2c2c; 
    display: inline-block;
}

.logo-maman1:hover, .logo-maman2:hover, .logo-maman3:hover {
    box-shadow: 0 0 3em #fde906e0;
    border: none;
}

.simone {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

/*jeunesse*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 4 4px;
    justify-content: center;
    text-align: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 4 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 50%;
}

/*Vieillesse*/

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides img {
    display: block;
    margin:auto;
    width: 70%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #db2c2c;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #db2c2c;
    color: #f2f2f2;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #db2c2c;
    padding: 2px 16px;
    color: white;
  }
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column1 {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


/*Généalogie*/

.g1 {
    width: 50%;
    border-radius: 30% 30% 4% 4% ;
    margin-top: 100px;
    padding: 20px;
    background-color: #69696950;
    border: 3px solid #db2c2c;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.msg-g {
    margin: 50px;
    font-size: medium;
    text-align: center;
}


.msg-g h3 {
    line-height: 99%;
}

.msg-g h1 {
    text-decoration: underline;
}


/*Témoignages*/

.t-grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
}

.msg-t{
    grid-column: 3/9;
    margin-top: 50px;
    font-size: medium;
}

.msg-t h1{
    text-decoration: underline;
}

.msg-t p{
    line-height: 90%;
}



@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}  